.margin-button {
    margin-bottom: 20px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.require:after {
    content: " *";
    color: red;
}

#field {
    /* margin-bottom: 20px; */
}
.image_file { display: none; }